.collection {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.collection>div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}